@model List<CV_Project.Models.Entity.Contact>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}

<br />
<br />
<h2 class="container">Gelen Mesajlar</h2>
<table class="table table-bordered container">
    <tr>
        <th>#</th>
        <th>Ad Soyad</th>
        <th>E-Mail</th>
        <th>Konu</th>
        <th>Mesajı Gör</th>
        <th>Sil</th>

    </tr>
    @foreach (var item in Model)
    {
        count++;
        <tr>
            <th>@count</th>
            <td>@item.NameSurname</td>
            <td>@item.Mail</td>
            <td>@item.Subject</td>
            <td><a href="/Contact/GetContact/@item.ContactID" class="btn btn-info btn-sm"><i class="fas fa-comment-alt"></i>Mesajı Gör</a></td>
            <td><a href="/Contact/DeleteContact/@item.ContactID" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i>Sil</a></td>

        </tr>
    }

</table>

