@model CV_Project.Models.Entity.Certificate
@{
    ViewBag.Title = "UpdateCertificate";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<br />
<br />

<h3 class="container"> Sertifika Güncelleme Sayfası</h3>
<form method="post" class="form-control-feedback">
    @Html.HiddenFor(x => x.CertifiacateID)
    <label>Sertifika</label>
    @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
    <br />
    <label>Tarih</label>
    @Html.TextBoxFor(x => x.Date, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Kaydet</button>

</form>

